* { padding: 0; margin: 0; }


html {
    -webkit-text-size-adjust: none; /* Prevent font scaling in landscape */
    min-height: 100%;
    position: relative;
}

 

body {
    font-family: sans-serif;
    font-size: 14px;
}



/* A-Microframwork start */

.a-m { margin: 15px; }
.a-mt { margin-top: 15px; }
.a-mt20 { margin-top: 20px; }
.a-mr { margin-right: 15px; }
.a-mr25 { margin-right: 25px; }
.a-mb { margin-bottom: 15px; }
.a-mb5 { margin-bottom: 5px; }
.a-mb7 { margin-bottom: 7px; }
.a-mb20 { margin-bottom: 20px; }
.a-mb25 { margin-bottom: 25px; }
.a-mb30 { margin-bottom: 30px; }
.a-ml { margin-left: 15px; }
.a-ml25 { margin-left: 25px; }
.a-mh { margin-left: 15px; margin-right: 15px;  }
.a-mv { margin-top: 15px; margin-bottom: 15px; }


.a-float {
    display: table;
    width: 100%;
}

.a-fl {
    float: left;
}

.a-pr10 { width: 10%; float: left; }
.a-pr20 { width: 20%; float: left; }
.a-pr25 { width: 25%; float: left; }
.a-pr30 { width: 30%; float: left; }
.a-pr33 { width: 33.333%; float: left; }
.a-pr40 { width: 40%; float: left; }
.a-pr50 { width: 50%; float: left; }
.a-pr60 { width: 60%; float: left; }
.a-pr66 { width: 66.666%; float: left; }
.a-pr70 { width: 70%; float: left; }
.a-pr75 { width: 75%; float: left; }
.a-pr80 { width: 80%; float: left; }
.a-pr90 { width: 90%; float: left; }
.a-pr100 { width: 100%; float: left; }

.a-px25 { width: 25px; float: left; }
.a-px50 { width: 50px; float: left; }
.a-px75 { width: 75px; float: left; }
.a-px100 { width: 100px; float: left; }
.a-px150 { width: 150px; float: left; }
.a-px200 { width: 200px; float: left; }
.a-px250 { width: 250px; float: left; }
.a-px300 { width: 300px; float: left; }
.a-px350 { width: 350px; float: left; }
.a-px400 { width: 400px; float: left; }
.a-px450 { width: 450px; float: left; }
.a-px500 { width: 500px; float: left; }


.a-clear:before {
    content: "";
    display: table;
}

.a-clear:after {
    clear: both;
    content: ".";
    display: block;
    font-size: 0;
    height: 0;
    visibility: hidden;
}


/* A-Microframwork end */





/* suggest */

#alsuli {
    position: absolute;
    border: 3px solid #f7f7f7;
    border-top: none;
    background-color: #fff;
}

#alsuli a {
    display: block;
    padding: 3px;
    text-decoration: none;
    color: #555;
}

#alsuli ul {
    padding: 5px 0;
}

#alsuli li {
    list-style: none ;
    padding: 10px 15px;
}

.alsuli-cur {
    background-color: #e2e2e2;
}
/* end suggest */







.w-limit {
    max-width: 650px;
    margin: 0 auto;
}



.word {
    font-size: 50px;
    font-family: 'Roboto';
    margin: 40px 15px 40px 15px;
    text-align: center;
}

div.text {
    margin-bottom: 40px;
}

input.test {
    background-color: #f7f7f7;
    font-family: 'Roboto';
    font-weight: 100;
    font-size: 40px;
    padding: 10px 15px;
    border: none;
    width: 100%;
    outline: none;
    transition: color .5s ease, background-color .5s ease;
}


input.wrong {
    background-color: rgba(255, 0, 0, 0.05);
    color: rgba(255, 0, 0, 0.15);
}

input.correct {
    background-color: rgba(24, 202, 24, 0.08);
    color: rgba(0,128,0,0.15);

}


input.test::-webkit-input-placeholder { color: rgba(0,0,0,.1); }
input.test::-moz-placeholder          { color: #ddd; }/* Firefox 19+ */
input.test:-moz-placeholder           { color: #ddd; }/* Firefox 18- */
input.test:-ms-input-placeholder      { color: #ddd; }    


.answer {
    font-family: 'Roboto';
    font-weight: 300;
    font-size: 50px;
    margin: 40px 15px 40px 15px;
    text-align: center;
    color: green;
}


.buttons {
    margin-top: 50px;
    text-align: center;
}

button.disable, button.report {
    width: 60px;
    height: 60px;
    border-radius: 60px;
    border: 1px solid #000;
    background-color: transparent;
    background-repeat: no-repeat;
    opacity: .5;
    cursor: pointer;
    transition: opacity linear 100ms;
    outline: none;
}

button.disable:focus, button.report:focus {
    opacity: 1;
}

button.disable:hover, button.report:hover {
    opacity: 1;
}

button.disable:active, button.report:active {
    background-color: #eee;
    transform: scale(.95);
}

button.report {
    background-image: url(dislike.png);
    background-size: 22px 22px;
    background-position: center 20px;
}

button.disable {
    background-image: url(x.png);
    background-size: 19px 19px;
    background-position: center;
    margin-left: 10px;
}





table.debug {
    display: none;
    width: 100%;
    margin-top: 50px;
    font-size: 11px;
    color: #777;
}

table.debug td {
    vertical-align: top;
    border-bottom: 1px dotted #ddd;
    padding: 5px;
}

.footer-placeholder {
    height: 67px;
}

.footer {
    position: absolute;
    width: 100%;
    left:0;
    bottom: 0;
    border-top: 1px solid #eee;
    text-align: center;
}

.footer ul {
    margin: 15px;
}

.footer li {
    list-style: none;
    display: inline-block;
    margin-right: 15px;
}

.footer li:last-of-type {
    margin-right: 0px;
}

.footer a {
    color: #a5a5a5;
    font-size: 12px;
    text-decoration: none;
    border-bottom: 1px solid #ddd;
}