ul.menu.disabled {
    opacity: .5;
    pointer-events: none;
}



.words {
    font-size: 400%;
    font-family: 'Roboto';
}


@media screen and ( max-width: 800px )  {
    .words {
        font-size: 300%;
        font-family: 'Roboto';
    }
}

@media screen and ( max-width: 600px )  {
    .words {
        font-size: 200%;
        font-family: 'Roboto';
    }
}


div.word {
    margin: .8em 15px .8em 15px;
    text-align: center;
}

span.word {
    cursor: pointer;
}

span.word:hover {
    border-bottom: 0.05em solid #ddd;
}


.answer {
    font-family: 'Roboto';
    font-weight: 300;
    margin: .8em 15px .8em 15px;
    text-align: center;
    color: green;
    cursor: default;
}

.answer.s2 {
    font-size: 90%;
}

.answer.s3 {
    font-size: 80%;
}

.answer.s4 {
    font-size: 70%;
}



.sticked {
    position: absolute;
    width: 100%;
    bottom: 0;
    right: 0;
    transition: width linear 100ms;
}

div.body.desktop-menu .sticked {
    width: calc(100% - 300px);
}



.buttons {
    text-align: center; 
    font-size: 170%;
    padding-bottom: 2em;
}

.buttons button {
    font-family: 'Roboto';
    font-weight: 300;
    background-color: transparent;
    border: 1px solid #aaa;
    border-radius: 2em;
    color: #555;
    width: 8em;
    height: 2.5em;
    outline: none;
    margin-right: .7em;
    font-size: inherit;
}

.buttons button:last-of-type {
    margin-right: 0;
}

.buttons button.add:hover {
    color: green;
    border: 1px solid green;
}

.buttons button.remove:hover {
    color: red;
    border: 1px solid red;
}

.buttons button.next:hover {
    color: green;
    border: 1px solid green;
}

.buttons button:active {
    position: relative;
    top: 1px;
    left: 1px;
}

.buttons button.add,
.buttons button.remove {
    display: none;
}

.buttons.add button.add,
.buttons.remove button.remove {
    display: inline-block;
}

.buttons span.default, 
.buttons span.done {
    display: none;
}

button.default span.default,
button.processing span.default,
button.done span.done {
    display: inline-block;
}

button.processing {
    opacity: .5;
}

