div.body {
	transition: padding-left linear 100ms;
}

div.body > .left {
	width: 0;
	height: 100%;
	background-color: #f3f3f3;
	transition: width linear 100ms;
	overflow: hidden;
	position: fixed;
	top: 0;
	left: 0;
}

div.body > .right {
}

div.body.desktop-menu > .left {
	width: 300px;

}

div.body.desktop-menu {
	padding-left: 300px;
}


button.open-menu {
	position: absolute;
	top: 0;
	left: 0;
	width: 40px;
	height: 40px;
}

ul.menu li {
	/*border-bottom: 1px solid #e7e7e7;*/
	display: block;
}

ul.menu li a {
	display: block;
	color: #777;
	text-decoration: none;
	padding: 12px 15px;
}

ul.menu li a:hover {
	background-color: #e7e7e7;
}

ul.menu li button {
	color: #777;
	display: block;
	padding: 12px 15px;
	background-color: transparent;
	border: none;
	text-align: left;
	cursor: pointer;
	font-size: 100%;
	width: 100%;
}

ul.menu li button:hover {
	background-color: #e7e7e7;
}