
h1 {
    font-size: 48px;
    font-family: 'Roboto';
    font-weight: 300;
}

h1.home {
    text-align: center;
}


p {
	line-height: 1.5em;
	margin: 1em 0;
}

p.home {
    text-align: center;
}


ul.home {
	text-align: center;
	list-style: none;
	margin-top: 50px;
}

ul.home li {
    font-size: 28px;
    font-weight: 300;
    line-height: 1.4em;
    font-family: 'Roboto';
}

ul.home a {
    font-size: 28px;
    line-height: 1.4em;
    font-family: 'Roboto';
    font-weight: 300;
    color: #1871bf;
    border-bottom: 1px solid rgba(24, 113, 191, 0.52);;
    text-decoration: none;
}

ul.home a:hover {
    color: #000;
    border-bottom: 1px solid #999;
}



/* freq list page  */

.words-table {
    display: table;
    border-collapse: collapse;
}

.words-row {
    display: table-row;
    
}

.words-row.added {
    background-color: rgba(0, 128, 0, 0.06);
}

.words-row .col-0,
.words-row .col-1,
.words-row .col-2 {
    display: table-cell;
    padding: 10px;
    border: 1px solid #eee;
}


.words-row .col-1 {
    white-space: nowrap;
}


.words-row button.add,
.words-row button.remove,
.edit-translation input[type=submit],
.edit-translation button {
    background: transparent;
    border: none;
    padding: 0;
    text-align: right;
    border-bottom: 1px dotted;
    color: #555;
    cursor: pointer;
    outline: none;
    vertical-align: middle;
    font-size: 14px;
}

.words-row button.add:hover,
.words-row button.remove:hover,
.edit-translation input[type=submit]:hover,
.edit-translation button:hover {
    color: #2276b9;
}

.words-row button.add:active,
.words-row button.remove:active,
.edit-translation input[type=submit]:active,
.edit-translation button:active {
    transform: scale(0.90);
}


.freq-row button.remove {
    display: none;
}


.words-row.added button.add {
    display: none;
}

.words-row.added button.remove {
    display: inline-block;
}

.words-row span.add-remove {
    display: inline-block;
    width: 70px;
}

.words-row button.pronounce {
    margin-right: 20px;
    width: 30px;
    height: 16px;
    background-image: url(sound.svg);
    background-size: contain;
    border: none;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    vertical-align: middle;
    outline: none;
}

.words-row button.pronounce:hover {
    opacity: .8;
}

.words-row button.pronounce:active {
    transform: scale(0.90);
}

.words-row.added span.en {
    color: green;
    font-weight: bold;
    vertical-align: middle;
}


.words-row span.hover:hover {
    background-color: rgba(255, 255, 0, 0.38);
}

.translation .idle,
.translation .edit {
    display: none;
}

.translation.idle .idle,
.translation.edit .edit {
    display: block;
}

.translation span.custom {
    margin-left: 5px;
    opacity: .4;
    width: 16px;
    height: 16px;
    background-image: url(edited.svg);
    background-size: contain;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    vertical-align: middle;
    display: none;
    cursor: help;
}

.translation.custom span.custom {
    display: inline-block;
}

.edit-translation {}

.edit-translation form {}

.edit-translation input[type=text] {
    min-width: 300px;
    max-width: 450px;
    font-size: 14px;
    border: none;
    outline: none;
    margin-bottom: 5px;
}

.edit-translation input[type=submit],
.edit-translation button {
    margin-right: 10px;
}


form.search {
    margin: 15px 0;
}

form.search input[type=search] {
    height: 40px;
    padding: 0 5px;
    min-width: 300px;
    border-radius: 3px;
    border: 1px solid #ccc;

}

form.search ul.type-filter {
    list-style: none;
}

form.search ul.type-filter li {
    display: inline-block;
    margin-right: 20px;
}

button.reset {
    display: none;
}

.col-2.custom button.reset {
    display: inline-block;
}



form.search button.type-filter {
    background-color: transparent;
    background-image: url(checkbox-0.svg);
    background-size: 16px 16px;
    background-repeat: no-repeat;
    background-position: 0 center;
    border: none;
    padding: 1px 0 1px 22px;
    outline: none;
    font-size: 14px;
}

form.search button.type-filter.sel {
    background-image: url(checkbox-1.svg);
}


form.search input[type=submit] {
    height: 40px;
    width: 50px;
    background-color: #ccc;
    border: none;
    border-radius: 3px;
    margin-right: 15px;
}



