{% extends 'base.html' %}
{% load static %}


{% block menu %}
    <li><a href="{% url 'freq_cards' %}">Словарь карточками</a></li>
    <li><a href="{% url 'freq_list' %}">Словарь списком</a></li>
{% endblock menu %}


{% block main %}

    <div class='w-limit'>
        <div class='a-m'>
            <h1>Мои слова</h1>

            <p>Мои Слова — это программа для изучения английских слов по частотному словарю. Частотный это такой словарь в котором все слова отсортированы в порядке частоты их использования.</p>

            <p>Языковеды считают, что 2000 тысяч наиболее часто используемых слов вполне хватает для ежедневного бытового общения на общие темы. А знание 10 000 слов позволит вам понимать и изъясняться практически на уровне носителя языка.</p>

            <p>В нашем словаре собрано более 9000 наиболее используемых слов английского языка. К ним добавлен перевод и произношение.</p>

            <p>Обучение происходит следующим образом. Программа спрашивает перевод слова, а вы должны ответить набрав перевод в текстовом поле с подсказками. Программа запоминает правильно вы ответили или нет, и на основе ваших успехов постепенно добавляет в ваш личный словарь новые слова. Слова, которые вы усваиваете хуже всего, программа будет переспрашивать чаще, и наоборот, программа не будет надоедать переспрашивая слова, которые вы и так хорошо знаете.</p>

            <p>Вместе с переводом вы будете запоминать произношение слова, что так же поможет в будущем понимать и устную английскую речь.</p>

            <p>Программа бесплатная для всех желающих. Приятного обучения!</p>
        </div>
    </div>
{% endblock main %}