{% extends 'base.html' %}
{% load static %}


{% block main %}

    <div class='w-limit'>
        <div class='a-m'>
            <h1>Мои слова</h1>

            <p>Мои Слова — это программа для изучения английских слов по частотному словарю. Частотный это такой словарь в котором все слова отсортированы в порядке частоты их использования.

            <p>Языковеды считают, что 2000 тысяч наиболее часто используемых слов вполне хватает для ежедневного бытового общения на общие темы. А знание 10 000 слов позволит вам понимать и изъясняться практически на уровне носителя языка.</p>

            <p>В нашем словаре собрано около 9000 наиболее используемых слов английского языка, к ним добавлен перевод и произношение.</p>

            <p>Обучение происходит в режиме карточек, где вам поочередно, в случайном порядке показываются слова с переводом. Если вы знаете слово, Нажимайте кнопку “Удалить”, если нет, кнопку “Следующее”.</p>

            <p>Слова будут отображаться по кругу снова и снова, вы будете постепенно их запоминать и удалять, до тех пор пока не удалите последнее слово.</p>

            <p>Вместе с переводом вы будете запоминать произношение слова, что так же поможет в будущем понимать и устную английскую речь.</p>

            <p>Программа бесплатная для всех желающих. Приятного обучения!</p>
            
        </div>
    </div>
{% endblock main %}