{% load static %}
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>My Dict</title>
        <link rel="stylesheet" href="{% static "app.css" %}" >
        <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
        <script src="https://code.jquery.com/jquery-2.2.3.min.js" integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo=" crossorigin="anonymous"></script>
        <script type="text/javascript" src="{% static "app.js" %}"></script>
        <script type="text/javascript" src="{% static "suggest.js" %}"></script>

    </head>
    <body>
            
        <div class='w-limit'>

            <div class='word'>
                table
            </div>


            <div class='test'>
                <input class='test' placeholder="начните вводить перевод">
            </div>

            <div class='answer'>
                стол, таблица
            </div>



        </div> <!-- w-limit -->



    </body>
</html>