{% load static %}
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>Мои слова</title>
        <meta property="og:title" content="Мои Слова"/>
        <meta property="og:description" content="Мои Слова — это программа для изучения английских слов по частотному словарю. Пополняйте свой словарный запас в удобной и продуманной программе, с переводом, произношением и индивидуальной статистикой. Бесплатно!"/>
        <meta property="og:type" content="article"/>
        <meta property="og:url" content= "https://moislova.ru/" />
        <link rel="stylesheet" href="{% static "app.css" %}" >
        <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
        <script src="https://code.jquery.com/jquery-2.2.3.min.js" integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo=" crossorigin="anonymous"></script>
        <script type="text/javascript" src="{% static "app.js" %}"></script>
        <script type="text/javascript" src="{% static "suggest.js" %}"></script>
        <script type="text/javascript">
            window.appUrls = {
                next: "{% url 'next' %}",
                suggest: "{% url 'suggest' %}",
                answer: "{% url 'answer' %}",
                report: "{% url 'report' %}",
            };
            {% if request.user.is_staff %}
                window.appUrls['disable'] = "{% url 'disable' %}";
            {% endif %}
        </script>
    </head>

    <body>
        <div class='w-limit'>
            <div class='word'>
                <span class='position'>
                    <span class='word'>&nbsp;</span>
                    <span class='buttons'>
                        <button title='Сообщить о проблеме' class='report' data-action='report'></button>
                        {% if request.user.is_staff %}
                        <button title='Отключить слово' class='disable' data-action='disable'></button>
                        {% endif %}
                    </span>
                </span>
            </div>
            <div class='test'>
                <input class='test' placeholder="начните вводить перевод">
            </div>
            <div class='answer' style='display: none'></div>
            {% if tester %}
                <table class='debug'></table>
            {% endif %}
        </div> <!-- w-limit -->
        <audio type="audio/mpeg" autoplay="true"></audio>

        <div class="footer-placeholder"></div>
        <div class="footer">
            <ul>
                <li><a data-action='toggle-debug' href="#">Debug info</a></li>
                <li><a href="">О программе</a></li>
                <li><a href="{% url 'logout' %}">Выход</a></li>
            </ul>
        </div>

    </body>
</html>