{% load static %}
{% load main %}
<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>{% block title %}Мои слова{% endblock title %}</title>
        <link href='{% static 'common.css' %}' rel='stylesheet' type='text/css'>
		<link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300&subset=latin,cyrillic' rel='
        stylesheet' type='text/css'>
        <script src="https://code.jquery.com/jquery-2.2.3.min.js" integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo=" crossorigin="anonymous"></script>
        <script type="text/javascript" src="{% static "common.js" %}"></script>
        <script type="text/javascript">
            window.isAuthenticated = {% if request.user.is_authenticated %}true{% else %}false{% endif %};
        </script>
		{% block head %}{% endblock head %}
    </head>
    <body>  

		{% block body %}
            <button class='open-menu'></button>

            <div class='body a-clear'>
                <div class="left">
                    <ul class='menu'>
                        <li><button data-action='close-menu'>Закрыть</button></li>
                        {% if request.user.is_authenticated %}
                        <li>
                            <button data-action='user'>{{ request.user|sensible }}</button>
                            <ul>
                                <li><a href="{% url 'logout' %}">Выйти</a></li>
                            </ul>                                                       
                        </li>
                        {% else %}
                        <li>
                            <button data-action='auth'>Авторизация</button>
                            <ul>
                                <li><a class='vk' href="{% url "social:begin" "vk-oauth2" %}?next={{ request.path }}">ВКонтакте</a></li>
                                <li><a class='ok' href="{% url "social:begin" "odnoklassniki-oauth2" %}?next={{ request.path }}">Одноклассники</a></li>
                                <li><a class='gg' href="{% url "social:begin" "google-oauth2" %}?next={{ request.path }}">Google</a></li>
                                <li><a class='fb' href="{% url "social:begin" "facebook" %}?next={{ request.path }}">Facebook</a></li>
                            </ul>
                        </li>
                        {% endif %}
                        <li><a href='/'>О программе</a></li>
                        {% block menu %}
                            <li><a href="{% url 'freq_cards' %}">Карточки</a></li>
                            <li><a class='login-required' href="{% url 'freq_list' %}">Список слов</a></li>
                        {% endblock menu %}
                    </ul>

                    {% block aftermenu %}{% endblock aftermenu %}


                </div>

                <div class="right">
                    {% block main %}
                    {% endblock main %}
                </div>
            </div>
        {% endblock body %}
    </body>
</html>