{% load static %}
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>Мои слова</title>
        <link rel="stylesheet" href="{% static "app.css" %}" >
        <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
        <script src="https://code.jquery.com/jquery-2.2.3.min.js" integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo=" crossorigin="anonymous"></script>
        <script type="text/javascript" src="{% static "app.js" %}"></script>
        <script type="text/javascript">
            window.appUrls = {
                {% if type == 'freq' %}
                    next: "{% url 'freq_next' %}",
                {% elif type == 'own' %}
                    next: "{% url 'own_next' %}",
                {% endif %}
            };
            {% if request.user.is_authenticated %}
                window.isAuthenticated = true;
                window.appUrls['skip'] = "{% url 'skip' %}";
                window.appUrls['report'] = "{% url 'report' %}";
            {% endif %}
            {% if request.user.is_staff %}
                window.isStaff = true;
                window.appUrls['delete'] = "{% url 'delete' %}";
                window.appUrls['update'] = "{% url 'update' %}";
            {% endif %}
        </script>
    </head>

    <body>
        <div class='w-limit words'>

            <div class='word'>
                <span class='word'>&nbsp;</span>
            </div>
            <div class='answer'></div>
            <div class='pos-marker'></div>
        </div> <!-- w-limit -->

        <audio type="audio/mpeg" autoplay="true"></audio>

        <div class='next-click-area'></div>

        <div class="footer-placeholder"></div>

        <div class="footer">
            <ul>
                <li><a href="/">Меню</a></li>
                <li><button title='Сообщить об ошибке/неточности в данном слове (Shift+Enter)' class='link' data-action='report'>Сообщить</button></li>
                {% if request.user.is_staff %}
                    <li><button class='link red' data-action='update'>Изменить</button></li>
                    <li><button class='link red' data-action='delete'>Удалить</button></li>
                {% endif %}
                <li><a data-action='yandex' target="_blank" href="#">Яндекс.Переводчик</a></li>
                {% if request.user.is_authenticated %}
                    <li><a href="{% url 'logout' %}">Выход</a></li>
                {% else %}
                    <li><a href="{% url 'login' %}">Вход</a></li>
                {% endif %}
            </ul>
        </div>

    </body>
</html>