{% extends 'base.html' %}
{% load static %}

{% block head %}
        <link rel="stylesheet" href="{% static "app.css" %}" >
        <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
        <script type="text/javascript" src="{% static "app.js" %}"></script>
        <script type="text/javascript">
            window.cardsType = "{{ type }}";
            window.isAuthenticated = {% if request.user.is_authenticated %}true{% else %}false{% endif %};
            window.appUrls = {
                next: "{% if type == 'freq' %}{% url 'freq_next' %}{% elif type == 'own' %}{% url 'own_next' %}{% endif %}",
                report: "{% url 'report' %}",
                add: "{% url 'add_word' %}",
                remove: "{% url 'remove_word' %}",
                userUpdate: "{% url 'user_update' %}",
            };
            {% if request.user.is_staff %}
                window.isStaff = true;
                window.appUrls['delete'] = "{% url 'delete' %}";
                window.appUrls['adminUpdate'] = "{% url 'admin_update' %}";
            {% endif %}
        </script>
{% endblock head %}


{% block menu %}
    <li><a href="{% url 'freq_list' %}">Словарь списком</a></li>

    <li><button title='Сообщить об ошибке/неточности в данном слове (Shift+Enter)' class='link' data-action='report'>Сообщить</button></li>
    {% if request.user.is_staff %}<li><button class='link red' data-action='delete'>Удалить</button></li>{% endif %}
    {% if request.user.is_staff %}<li><button class='link red' data-action='update'>Изменить</button></li>{% endif %}
    <li><a data-action='yandex' target="_blank" href="#">Яндекс.Переводчик</a></li>
{% endblock menu %}


{% block main %}

        <div class='w-limit words'>
            <div class='word'>
                <span class='word'>&nbsp;</span>
            </div>
            <div class='answer'></div>
        </div> <!-- w-limit -->

        <audio type="audio/mpeg" autoplay="true"></audio>

        <div class="footer-placeholder"></div>


        <div class='sticked'>

            <div class='buttons add'>
                <button class='remove' data-action='remove-from-dict'>удалить</button>
                <button class='add' data-action='add-to-dict'>добавить</button>
                <button class='next'>следующее</button>
            </div>

            <!--

            <div class="footer">
                <ul>
                    <li><a href="/">Меню</a></li>
                    {% if type == 'freq' %}<li><button title='Сообщить об ошибке/неточности в данном слове (Shift+Enter)' class='link' data-action='report'>Сообщить</button></li>{% endif %}
                    {% if type == 'freq' and request.user.is_staff %}<li><button class='link red' data-action='delete'>Удалить</button></li>{% endif %}
                    {% if type == 'own' or request.user.is_staff %}<li><button class='link red' data-action='update'>Изменить</button></li>{% endif %}   
                    <li><a data-action='yandex' target="_blank" href="#">Яндекс.Переводчик</a></li>
                </ul>
            </div>

            -->

        </div>

{% endblock main %}