{% extends 'base.html' %}
{% load static %}
{% load main %}

{% block head %}
    <link rel="stylesheet" href="{% static "cards.css" %}" >
    <script type="text/javascript" src="{% static "cards.js" %}"></script>
    <script type="text/javascript">
        window.cardsType = "{{ type }}";
        window.isAuthenticated = {% if request.user.is_authenticated %}true{% else %}false{% endif %};
        window.appUrls = window.appUrls || {};
        window.appUrls['next'] = "{% url 'next' %}";
        window.appUrls['report'] = "{% url 'report' %}";
        {% if request.user.is_staff %}
            window.isStaff = true;
            window.appUrls['delete'] = "{% url 'delete' %}";
            window.appUrls['adminUpdate'] = "{% url 'admin_update' %}";
        {% endif %}
    </script>
{% endblock head %}


{% block menu %}
    <li><a class='login-required' href="{% url 'list' %}">Список слов</a></li>

    <li><button title='Сообщить об ошибке/неточности в данном слове (Shift+Enter)' class='link' data-action='report'>Сообщить</button></li>
    {% if request.user.is_staff %}<li><button class='link red' data-action='delete'>Удалить</button></li>{% endif %}
    {% if request.user.is_staff %}<li><button class='link red' data-action='update'>Изменить</button></li>{% endif %}
    <li><a data-action='lingvo' target="_blank" href="#">Открыть в Lingvo</a></li>
    <li><a data-action='reverso' target="_blank" href="#">Примеры использования</a></li>
{% endblock menu %}



{% block aftermenu %}
    {% if request.user.is_authenticated %}

        <div class="a-mh">
            <h2>Фильтр</h2>
        </div>

        <ul class='menu a-mb'>
            <li><button class='link checkbox{% filter_checked request '0' %}' data-filter='0'>
                <span class='img'></span>
                <span>Новые</span>
                (<span class='stata-new'>0</span>/<span class='stata-all'>0</span>)
            </button></li>

            <li><button class='link checkbox{% filter_checked request '5' %}' data-filter='5'>
                <span class='img'></span>
                <span>Пять</span>
                (<span class='stata-5'>0</span>)
            </button></li>

            <li><button class='link checkbox{% filter_checked request '4' %}' data-filter='4'>
                <span class='img'></span>
                <span>Четыре</span>
                (<span class='stata-4'>0</span>)
            </button></li>

            <li><button class='link checkbox{% filter_checked request '3' %}' data-filter='3'>
                <span class='img'></span>
                <span>Три</span>
                (<span class='stata-3'>0</span>)
            </button></li>

            <li><button class='link checkbox{% filter_checked request '2' %}' data-filter='2'>
                <span class='img'></span>
                <span>Два</span>
                (<span class='stata-2'>0</span>)
            </button></li>

            <li><button class='link checkbox{% filter_checked request '1' %}' data-filter='1'>
                <span class='img'></span>
                <span>Один</span>
                (<span class='stata-1'>0</span>)
            </button></li>
        </ul>

        <div class="a-mh">
            <h2>Настройки</h2>
        </div>

        <ul class='menu a-mb'>
            <li>
                <button class='link checkbox{% if user.preferences.answer_delay %} checked{% endif %}' data-action='answer-delay'>
                    <span class='img'></span>
                    <span>Задержка ответа</span>
                </button>  
            </li>

            <li>
                <button class='link checkbox{% if user.preferences.explicit %} checked{% endif %}' data-action='explicit'>
                    <span class='img'></span>
                    <span>Слова 18+</span>
                </button>  
            </li>

            {% if request.user.is_staff %}
                <li>
                    <button class='link checkbox' data-action='debug'>
                        <span class='img'></span>
                        <span>Debug</span>
                    </button>
                </li>
            {% endif %}



        </ul>



    {% endif %}
{% endblock aftermenu %}


{% block main %}

        <div class='w-limit words'>
            <div class='word'>
                <span class='word'>&nbsp;</span>
            </div>
            <div class='answer'></div>
        </div> <!-- w-limit -->

        <audio type="audio/mpeg" autoplay="true"></audio>

        <div class="footer-placeholder"></div>


        <div class='sticked'>

            <div class='buttons'>
                {% if request.user.is_authenticated %}
                <button data-know='1'><span>1</span></button><button data-know='2'><span>2</span></button><button data-know='3'><span>3</span></button><button data-know='4'><span>4</span></button><button data-know='5'><span>5</span></button>
                {% else %}
                <button data-action='next'><span>следующее</span></button>
                {% endif  %}
            </div>

        </div>

        {% if request.user.is_staff %}
            <table class="debug"></div>
        {% endif %}

{% endblock main %}