{% extends 'base.html' %}
{% load static %}


{% block head %}
    <script type="text/javascript">
        window.appUrls = {
            remove: "{% url 'remove_word' %}",
            add: "{% url 'add_word' %}",
        };
        window.csrf = "{{ csrf_token }}";
    </script>

{% endblock head %}

{% block body %}


<div class='words-table'>
    {% for word in words %}
        <div data-word-id='{{ word.pk }}' class='words-row freq-row{% if word.progress_set.all.0 %} added{% endif %}'>
            <div class='col-1'>
                <span class='add-remove'>
                    <button class='remove' data-action='remove-from-dict'>удалить</button>
                    <button class='add' data-action='add-to-dict'>добавить</button>
                </span>
                <button class='pronounce' data-action='pronounce' data-url='{{ word.pronounce.url }}'>З</button>
                {{ word.word }}
            </div>
            <div class='col-2'>{{ word.translation }}</div>
        </div>
    {% endfor %}
</div>

<div class="pagination">
    <span class="step-links">

        {% if words.has_previous %}
            <a href="?page={{ words.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ words.number }} of {{ words.paginator.num_pages }}.
        </span>

        {% if words.has_next %}
            <a href="?page={{ words.next_page_number }}">next</a>
        {% endif %}
    </span>
</div>

{% endblock body %}