{% extends 'base.html' %}
{% load static %}
{% load main %}

{% block head %}
    <link href='{% static 'list.css' %}' rel='stylesheet' type='text/css'>
    <script type="text/javascript" src="{% static "list.js" %}"></script>
    <script type="text/javascript">
        window.appUrls = window.appUrls || {};
        {% if request.user.is_authenticated %}
            window.appUrls['update'] = "{% url 'admin_update' %}";
        {% endif %}
        window.csrf = "{{ csrf_token }}";
        window.listType = "{{ type }}";
    </script>
{% endblock head %}

{% block menu %}
    <li><a href="{% url 'cards' %}">Карточки</a></li>
{% endblock menu %}

{% block main %}

<div class="w-limit">
    <div class="a-m">

        <h1>Частотный словарь</h1>

        <form class='search'>

            <div class='a-mb'>
                <input type="search" name="q" placeholder="Поиск"{% if q %} value='{{ q }}'{% endif %}>
                <input type="submit" name="" value='ok'>
                {% if q %}
                    <a href="{% url 'list' %}">сброс</a>
                {% endif %}
            </div>

        </form>

        <div class="pagination a-mb">
            <span class="step-links">

                {% if page_obj.has_previous %}
                    <a href="{% pagelink request page_obj.previous_page_number %}">предыдущая</a>
                {% endif %}

                <span class="current">
                    Страница {{ page_obj.number }} из {{ page_obj.paginator.num_pages }}.
                </span>

                {% if page_obj.has_next %}
                    <a href="{% pagelink request page_obj.next_page_number %}">следующая</a>
                {% endif %}
            </span>
        </div>

        <div class='words-table a-mb'>
            {% for word in object_list %}
                <div data-word-id='{{ word.pk }}' class='words-row freq-row'>
                    <div class='col-0'>
                        <span title='rank'>{{ word.rank }}</span>
                    </div>

                    <div class='col-1'>
                        <button class='pronounce' data-action='pronounce' data-url='{{ word.pronounce.url }}'></button>
                        <span class='en'>{{ word.word }}</span>
                    </div>
                    <div class='col-2 translation idle'>
                        <div class="idle field">
                            <span class='hover'>{{ word.translation }}</span>
                        </div>
                        {% if request.user.is_staff %}
                            <div class="edit edit-translation">
                                <form class=''>
                                    <div>
                                        <input autocomplete='off' type="text" name="translation" value='{{ word.translation }}'>
                                    </div>
                                    <input type="hidden" name="word_id" value='{{ word.id }}'>
                                    <input type="submit" value='ok'>
                                    <button data-action='translation-cancel'>отмена</button>
                                </form>
                            </div>
                        {% endif %}
                    </div>
                    <div class='col-3'>
                        {% if word.progress_set.all.0 %}
                            <span title='Уровень знания слова'>{{ word.progress_set.all.0.know_avg|float2 }}</span>
                        {% else %}
                            <span class='na' title='Уровень знания слова: нет данных'>n/a</span>
                        {% endif %}
                    </div>
                    <div class='col-3'>
                        {% if word.progress_set.all.0 %}
                            <span title='Кол-во показов'>{{ word.progress_set.all.0.know_count }}</span>
                        {% else %}
                            <span class='na' title='Кол-во показов: нет данных'>n/a</span>
                        {% endif %}
                    </div>

                </div>
            {% endfor %}
        </div>

        <div class="pagination">
            <span class="step-links">

                {% if words.has_previous %}
                    <a href="{% pagelink request words.previous_page_number %}">предыдущая</a>
                {% endif %}

                <span class="current">
                    Страница {{ words.number }} из {{ words.paginator.num_pages }}.
                </span>

                {% if words.has_next %}
                    <a href="{% pagelink request words.next_page_number %}">следующая</a>
                {% endif %}
            </span>
        </div>

    </div>
</div>

<audio type="audio/mpeg" autoplay="true"></audio>

{% endblock main %}
