{% load static %}
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>Мои слова</title>
        <meta property="og:title" content="Мои Слова"/>
        <meta property="og:description" content="Мои Слова — это программа для изучения английских слов по частотному словарю. Пополняйте свой словарный запас в удобной и продуманной программе, с переводом, произношением и индивидуальной статистикой. Бесплатно!"/>
        <meta property="og:type" content="article"/>
        <meta property="og:url" content= "https://moislova.ru/" />
        <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
        <!--<script src="https://code.jquery.com/jquery-2.2.3.min.js" integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo=" crossorigin="anonymous"></script>-->
        
        <style>
            body {
                font-family: sans-serif;
                font-size: 14px;
                margin-top: 15px;
            }
            h1, h2 {
                font-family: 'Roboto';
                font-weight: 300;
            }
            .a-mb {
                margin-bottom: 15px;
            }
            .w-limit {
                max-width: 1000px;
                margin: 0 auto;
            }
        </style>        

    </head>
    <body>
        <div class='w-limit'>

            <h1>Мои слова</h1>

            <p>Мои Слова — это программа для изучения английских слов по частотному словарю. Частотный это такой словарь в котором все слова отсортированы в порядке частоты их использования.</p>

            <p>Языковеды считают, что 2000 тысяч наиболее часто используемых слов вполне хватает для ежедневного бытового общения на общие темы. А знание 10 000 слов позволит вам понимать и изъясняться практически на уровне носителя языка.</p>

            <p>В нашем словаре собрано более 9000 наиболее используемых слов английского языка. К ним добавлен перевод и произношение.</p>

            <p>Обучение происходит следующим образом. Программа спрашивает перевод слова, а вы должны ответить набрав перевод в текстовом поле с подсказками. Программа запоминает правильно вы ответили или нет, и на основе ваших успехов постепенно </p>добавляет в ваш личный словарь новые слова. Слова, которые вы усваиваете хуже всего, программа будет переспрашивать чаще, и наоборот, программа не будет надоедать переспрашивая слова, которые вы и так хорошо знаете.

            <p>Вместе с переводом вы будете запоминать произношение слова, что так же поможет в будущем понимать и устную английскую речь.</p>

            <p>Программа бесплатная для всех желающих. Приятного обучения!</p>

            <h2>Авторизация</h2>

                {% if messages %}
                    <ul class="messages">
                        {% for message in messages %}
                        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
                            {{ message }}
                        </li>
                        {% endfor %}
                    </ul>
                {% endif %}         

            <form action='/login' method='post' class="a-mb">
                
                {% csrf_token %}
                
                <div class="a-mb">
                    <input type='text' name='login'>
                </div>
                
                <div class="a-mb">
                    <input type='password' name='password'>
                </div>
                
                <input type='submit'>

            </form>

            <div class="a-mb">
                <h2>Войти через соц. сеть</h2>
            </div>

            <div class="a-mb">
                <button disabled="disabled">ВКонтакте</button>
            </div>
            
            <div class="a-mb">
                <button disabled="disabled">Одноклассники</button>
            </div>
            
            <div class="a-mb">
                <button disabled="disabled">Facebook</button>
            </div>
            
            <div class="a-mb">
                <button disabled="disabled">Google+</button>
            </div>

        </div> <!-- w-limit -->
    </body>
</html>