{% extends 'base.html' %}
{% load static %}

{% block head %}
    <script type="text/javascript">
        window.appUrls = {
            remove: "{% url 'remove_word' %}",
        };
        window.csrf = "{{ csrf_token }}";
        window.listType = "{{ type }}";
    </script>

{% endblock head %}


{% block body %}


<div class='words-table'>
    {% for progress in words %}
        <div data-word-id='{{ progress.word.pk }}' class='words-row own-row'>
            <div class='col-1'>
                <span class='add-remove'>
                    <button class='remove' data-action='remove-from-dict'>удалить</button>
                </span>
                <button class='pronounce' data-action='pronounce' data-url='{{ progress.word.pronounce.url }}'></button>
                {{ progress.word.word }}
            </div>
            <div class='col-2'>{{ progress.get_translation }}</div>
        </div>
    {% endfor %}
</div>


<div class="pagination">
    <span class="step-links">
        {% if words.has_previous %}
            <a href="?page={{ words.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ words.number }} of {{ words.paginator.num_pages }}.
        </span>

        {% if words.has_next %}
            <a href="?page={{ words.next_page_number }}">next</a>
        {% endif %}
    </span>
</div>

<audio type="audio/mpeg" autoplay="true"></audio>

{% endblock body %}