{% extends 'base.html' %}
{% load static %}
{% load main %}

{% block head %}
        
        <style>
            body {
                font-family: sans-serif;
                font-size: 14px;
                margin-top: 15px;
            }
            h1, h2 {
                font-family: 'Roboto';
                font-weight: 300;
            }
            p {
                line-height: 1.5em;
            }
            .w-limit {
                max-width: 1000px;
                margin: 0 auto;
            }
            table {
                font-size: 100%;
                border-collapse: collapse;
            }
            table td {
                border: 1px solid #eee;
                padding: 0.5em 1em;
            }
        </style>        

{% endblock head %}

{% block main %}
    <div class="w-limit">
        <div class="a-m">
            <h1>Статистика пользователей</h1>
            <table>
                <tr>
                    <td>id</td>
                    <td>User</td>
                    <td>last login</td>
                    <td>last activity</td>
                    <td>dict size</td>
                    <td>know avg</td>
                    <td>asked total</td>
                </tr>
            {% for user in users %}
                <tr>
                    <td>{{ user.pk }}</td>
                    <td>{{ user|sensible }}</td>
                    <td>{{ user.last_login|date:"[H:i] d.m.Y" }}</td>
                    <td>{{ user.last_activity|date:"[H:i] d.m.Y" }}</td>
                    <td>{{ user.dict_size }}</td>
                    <td>{{ user.know_avg }}</td>
                    <td>{{ user.know_sum }}</td>
                </tr>
            {% endfor %}
            </table>
        </div>
    </div>
{% endblock main %}
